{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{% static 'cv_styles/style.css' %}">
	<title>My_Cv</title>
</head>
<body>
	<div class="wrapper">
		<div class="left">
			<div class="per">
				<div class="per-img" style="background-image: url({% static 'cv_styles/per.jpg' %});"></div>
				<h1 class="per-name">Nasir Ahmad Ahmady</h1>
				<div class="pre-job">Web Developer</div>
			</div>
			<hr>
			<div class="contact-info">
				<h1 class="contact-title">contact info</h1>
				<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+55 11 95340 6836</div>
				<div class="email"><i class='fa fa-envelope-o' aria-hidden="true"></i>nasirahmadahmady0@gmail.com</div>				
				<div class="internet"><i class='fa fa-globe' aria-hidden="true"></i><a href="nasir1.pythonanywhere.com" style="color: #fff;">mysite</a></div>				
				<div class="linekdin"><i class='fa fa-linkedin' aria-hidden="true"></i><a style="color: #fff;" target="_blank" href="https://www.linkedin.com/in/nasir-ahmad-ahmady-4653b524a">My linkedin Account</a></div>				
				<div class="location"><i class='fa fa-map-marker' aria-hidden="true"></i>Brazil, sao paulo</div>				
			</div>
			<div class="education">
				<div class="edu">
					<div class="year">2020-at now</div>
					<div class="work">Pytho programming</div>
	    			<div class="part">programming</div>
	    			<div class="uni-name">IRANIAN YOUTUBE CHANNEL</div>
	    		</div>
	    		<div class="edu">
					<div class="year">2021-at now</div>
					<div class="work">django programming</div>
	    			<div class="part">programming</div>
	    			<div class="uni-name">IRANIAN YOUTUBE CHANNEL</div>
	    		</div>
	    		<div class="edu">
					<div class="year">2021-at now</div>
					<div class="work">HTML5, CSS3</div>
	    			<div class="part">WebDesign</div>
	    			<div class="uni-name">IRANIAN YOUTUBE CHANNEL</div>
	    		</div>
	    		<div class="edu">
					<div class="year">2021-at now</div>
					<div class="work">JavaScript programming</div>
	    			<div class="part">programming</div>
	    			<div class="uni-name">IRANIAN YOUTUBE CHANNEL</div>
	    		</div>
	    		<div class="edu">
					<div class="year">2021-at now</div>
					<div class="work">Bootstrap</div>
	    			<div class="part">WebDesign</div>
	    			<div class="uni-name">IRANIAN YOUTUBE CHANNEL</div>
	    		</div>
			</div>
			<div class="lang-wrapper">
				<h1 class="title">languages</h1>
				<div class="lang">
					<p class="title">persio</p>
					<div class="show" style="--per:100%;">
						<div class="line"></div>
					</div>
				</div>
				<div class="lang">
					<p class="title">Portugueses</p>
					<div class="show" style="--per:10%;">
						<div class="line"></div>
					</div>
				</div>
				<div class="lang">
					<p class="title">english</p>
					<div class="show" style="--per:30%;">
						<div class="line"></div>
					</div>
				</div>
				<div class="lang">
					<p class="title">Pashto</p>
					<div class="show" style="--per:60%;">
						<div class="line"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="profile">
				<h1 class="title">profile</h1>
				<p class="content">
					Hello, my name is Nasir Ahmad Ahmady, I am from Afghanistan, I was born in 2004, I was interested in computers since the beginning of my life, but in 2020, I officially started programming, I started with Python language. I started programming with python because the language is simple and at the same time very powerful and I have been programming with Python for two years, later I started working with Django and I did several projects in Afghanistan,
					<br>
					such as without html, css, web world. It doesn't make sense. I started working with these two languages and later I started working with javascript and bootstrap and I have been working on the frontend side for a year.
				</p>
			</div>
			<div class="expreience">
				<h1 class="title">experience</h1>
				<div class="exp-wrapper">
					<div class="exp">
						<div class="left"><div>2020-2020</div>company name</div>
						<div class="right"><p class="title">senior ux designer</p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quia inventore excepturi officia quasi, maxime porro tenetur ea. Quaerat qui quod, doloribus quas illum tempora minus, minima. Maxime, cupiditate, </div>
					</div>
					<div class="exp">
						<div class="left"><div>2019-present</div>company name</div>
						<div class="right"><p class="title">senior ux designer</p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quia inventore excepturi officia quasi, maxime porro tenetur ea. Quaerat qui quod, doloribus quas illum tempora minus, minima. Maxime, cupiditate, </div>
					</div>
					<div class="exp">
						<div class="left"><div>2019-present</div>company name</div>
						<div class="right"><p class="title">senior ux designer</p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quia inventore excepturi officia quasi, maxime porro tenetur ea. Quaerat qui quod, doloribus quas illum tempora minus, minima. Maxime, cupiditate, </div>
					</div>
				</div>
			</div>
			<div class="skills">
				<h1 class="title">professional skills</h1>
				<div class="skill-wrapper">
					<div class="skill">
						<div class="name">html</div>
						<div class="show" style="--per: 90%;"><div class="line"></div></div>
					</div>
					<div class="skill">
						<div class="name">css</div>
						<div class="show" style="--per: 80%;"><div class="line"></div></div>
					</div><div class="skill">
						<div class="name">javascript</div>
						<div class="show" style="--per: 80%;"><div class="line"></div></div>
					</div><div class="skill">
						<div class="name">python</div>
						<div class="show" style="--per: 90%;"><div class="line"></div></div>
					</div><div class="skill">
						<div class="name">django</div>
						<div class="show" style="--per: 87%;"><div class="line"></div></div>
					</div><div class="skill">
						<div class="name">bootstrap</div>
						<div class="show" style="--per: 95%;"><div class="line"></div></div>
					</div>
				</div>
			</div>
			<div class="interest">
			<h1 class="title">interest</h1>
			<ul>
				<li><i class="fa fa-gamepad" aria-hidden="true"></i>gaming</li>
				<li><i class="fa fa-microphone" aria-hidden="true"></i>sniging</li>
				<li><i class="fa fa-book" aria-hidden="true"></i>reading</li>
				<li><i class="fa fa-cutlery" aria-hidden="true"></i>cooking</li>
			</ul>
		</div>
	</div>
</body>
</html>